<ion-header>
  <ion-toolbar>
    <ion-title>content</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding #content>

  Ejemplo de scroll

  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full">Botón</ion-button>
  <ion-button expand="full" (click)="goToTop()">Go to Top</ion-button>

</ion-content>
  