<ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" (click)="presentAlert()">Alerta simple</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()">Alerta con múltiples botones</ion-button>
  <ion-button expand="block" (click)="presentAlertConfirm()">Confirm alert</ion-button>
  <ion-button expand="block" (click)="presentAlertPrompt()">Alerta con formulario</ion-button>
  <ion-button expand="block" (click)="presentAlertRadio()">Alerta con opciones</ion-button>
  <ion-button expand="block" (click)="presentAlertCheckbox()">Alerta con checkbox</ion-button>
</ion-content>
