<ion-header>
  <ion-toolbar>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()" #content>

  Ejemplo de botontes

  <ion-button color="tertiary" 
              expand="full" 
              shape="round" 
              size="large"
              >Default</ion-button>

<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full">Botón</ion-button>
<ion-button expand="full" (click)="goToTop()">Go To Top</ion-button>
  
</ion-content>
  